// Place all the styles related to the towns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  color:#FCCA46;
}

.infotowns [class*=col]{  
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.infotowns{
  margin-top:20px;
  background-color:black;
  color:white;
  border:2px solid black;
  border-radius:10px 10px 10px 10px;
}

.infotowns button{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.townplus{
  text-decoration:none;
  color:white;
  width:100%;
  background-color:black;
  opacity: 0.7;
  font-size:36px;
  text-align:center;
  margin-bottom:20px;
  padding:10px 10px 10px 10px;
}

.townplus:hover{
  opacity: 1;
}

.atownplus
{
  text-decoration:none;
  color:black;
}

.atownplus:hover
{
  text-decoration:none;
}

.name{
  background-color:white;
  color:grey;
  text-align:center;
  border-top-right-radius:10px; 
  border-top-left-radius:10px; 
}

.infotownsactions{
  background-color:white;
  text-align:center;
  border-bottom-right-radius:10px; 
  border-bottom-left-radius:10px;
  padding-top:100px;
}