<div class="bootstrap">
  <div class="container">
    
    <h1>Editing town</h1>
    <div class="row">
        <%= render 'form' %>
        <%= link_to 'Show', @town %> |
        <%= link_to 'Back', towns_path %>
    </div>
  </div>
</div>